---
# main.scss
---

@import "bootstrap";

body {
  font-size: 16px;
  line-height: 1.6;
  color: #282828;
}

h1, h2, h3 {
  font-weight: 200;
}

p {
  font-weight: 200;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.site-header {
  border-top: 5px solid #e6be00;
  color: #f6f6f6;
  padding: 150px 0;

  background: #f6f6f6 url("https://nodeschool.io/munich/images/munich_pano.jpg") left center;
  background-size: cover;

  h1 > a {
    color: #f6f6f6;
  }

  h1 > a:hover {
    color: #f6f6f6;
    text-decoration: none;
  }


  @media screen and (min-width: $screen-sm-min) {
    padding-top:    ($jumbotron-padding * 5);
    padding-bottom: ($jumbotron-padding * 5);

    h1,
    .h1 {
      font-size: $jumbotron-heading-font-size;
    }
  }
}

.who-are-we {
  margin: 0 auto;
  border: 3px solid #ffffff;
  border-radius: 6px;

  @media screen and (min-width: $screen-sm-min) {
    width: 65%;
  }
}

.what-we-do {
  margin: 20px 0 30px;
  padding: 30px 0;

  @media screen and (min-width: $screen-sm-min) {
    margin: 40px 0 50px;
    padding: 50px 0;
  }
}

.what-we-do > div[class^="col-md-"] {

  @media screen and (max-width: $screen-sm-min) {
    margin-bottom: 65px;
  }
}

.questions {
  background-color: #e6be00;
  color: #f6f6f6;
  margin: 30px 0 0;
  padding: 30px 0;

  a {
    color: #ffffff;
    text-decoration: underline;
  }

  @media screen and (min-width: $screen-sm-min) {
    margin: 50px 0 0;
    padding: 50px 0;
  }
}

.site-footer {
  background-color: #127373;
  color: white;

  padding: 30px 0;

  a {
    color: #f6f6f6;
    text-decoration: underline;
  }

  @media screen and (min-width: $screen-sm-min) {

    padding: 50px 0;
  }
}

