<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <h3>Credits</h3>
                <p>
                    The header image is <a href="http://creativecommons.org/licenses/by-sa/2.0/de/deed.en">CC BY-SA 2.0 de</a> by David Kostner.
                </p>
            </div>

            <div class="col-md-3">
                <h3>Sponsored by</h3>

                <p>
                    <a href="https://works.peerigon.com">
                        <img src="images/peerigon.svg" width="273px" height="80px" alt="Peerigon - the JavaScript Company"/>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
