@import "variables";

.section {
  padding: 1rem 0;

  @include breakpoint(break-1) {
    padding: 1.5rem 0;
  }

  @include breakpoint(break-2) {
    padding: 2rem 0;
  }

  h1, h2, h3 {
    text-shadow: 1px 1px rgba(0, 0, 0, .24);
  }
}

.colored {
  background-color: $whiskeyBackground;
  color: white;
  text-decoration-color: white;

  h1, h2, h3, h4, h5, h6, a, p, .caption {
    color: white;
  }

  p a, li a {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten(white,20%) 50%);
    text-shadow: 0.1rem 0 $whiskeyBackground, 0.15rem 0 $whiskeyBackground, -0.1rem 0 $whiskeyBackground, -0.15rem 0 $whiskeyBackground;

    &:hover, &:active, &:focus {
      background-image: none;
    }
  }
}

.colored-grey {
  background-color: $greyBackground;
}

.colored-lightgrey {
  background-color: $lightgreyBackground;
}

.site-header {
  text-align: center;

  .logo {
    display: block;
    margin: 0 auto;
    width: 45%;

    @include breakpoint(break-1) {
      width: 35%;;
    }

    @include breakpoint(break-2) {
      width: 35%;
    }
  }
}

.learn-coding {
  @extend .colored;
}

.for-everyone {
  @extend .colored;
}

.questions {
  @extend .colored-grey;
}

.site-footer {
  text-align: center;

  ul, li {
    list-style-type: none;
  }
}
