// $headingColour: #2E2E2E !default;
// $bodyColour: #494949 !default;
// $linkColour: #0E58F5 !default;
// $hoverColour: #0B348B !default;
// $captionColour: #BDC8CC !default;
// $white: #FFFFFF !default;

// Background colours.
// $backgroundColour: #FCFCFC !default;
// $codeBackgroundColour: #F5F4F2 !default;

$mintBackground: rgb(70, 225, 200);
$spinachBackground: rgb(18, 115, 155);
$whiskeyBackground: rgb(230, 190, 0);
$greyBackground: rgb(230, 225, 220);
$lightgreyBackground: rgb(246, 246, 246);
